.wrapper {
  height: 100vh;
  padding: 64px 0;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  width: auto;
  height: 68px;
  margin-right: 16px;
}
.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.title {
  font-size: 33px;
  font-weight: 600;
  color: #000000d9;
}
.description {
  font-size: 32px;
  color: rgb(219, 82, 82);
  font-weight: 700;
  /* max-width: 400px; */
  text-align: center;
  margin: 0 auto;
  margin-top: 12px;
  margin-bottom: 32px;
}
.form {
  margin: 0 auto;
  max-width: 350px;
  min-width: 300px;
}
.copyright {
  font-size: 14px;
  color: #00000073;
  text-align: center;
  position: absolute;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
}
.error {
  margin-bottom: 16px;
}
