.wrapper {

}

.tree {
  background-color: #fff;
  padding: 8px 0;
  overflow: hidden;
  display: flex;
  margin-bottom: 16px;
}
.tree .list:not(:first-child) {
  border-left: 1px solid #e8e8e8;
}
.list {
  width: 300px;
  min-height: 300px;
  flex-shrink: 0;
}
.item {
  cursor: pointer;
  padding: 4px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.item:hover {
  background-color: #f6f6f6;
}
.item .selected {
  color: red;
  font-weight: 600;
}
.selected {
  color: red;
  font-weight: 600;
}